<!-- Mirror Module for SafeKit -->

<!-- See Readme.txt -->

<!DOCTYPE safe>

<safe>
<service mode="mirror">

  <!-- Heartbeat Configuration -->
  <!-- Replace
     * SERVER1_TO_BE_DEFINED and SERVER2_TO_BE_DEFINED by IP address of your 2 servers 
  -->
  <heart>
    <heartbeat name="">
    </heartbeat>
  </heart>

  <!-- Virtual IP Configuration -->
  <!-- Replace
     * VIRTUAL_TO_BE_DEFINED by the IP address of your virtual server 
  -->
   <vip>
    <interface_list>
        <interface check="off">
           <real_interface>
               <virtual_addr addr="" where="one_side_alias"/>
          </real_interface>
        </interface>
    </interface_list>
  </vip>

  <!-- File Mirroring Configuration -->
  <!-- Replace
     * PATH_TO_BE_DEFINED by the path of your data repository
  -->
  <rfs>
	<replicated dir="" mode="read_only" />
  </rfs>

  <!-- User scripts Configuration -->
  <!-- See TODO in SAFE/modules/MODULE/bin scripts -->
  <user/>

 </service>
</safe>
