{{/* Shortcode: insert-safekit-network-isolation-fr — 2 instances in 2 files */}}
 

## Quels sont les différents scénarios en cas d'isolement réseau dans un cluster ? {#isolation}

### Un seul réseau

Lorsqu'il y a un isolement réseau, le comportement par défaut est :

  * comme les heartbeats sont perdus pour chaque nœud, chaque nœud passe en ALONE et exécute l'application avec son adresse IP virtuelle (double exécution de l'application modifiant ses données locales),
  * lorsque l'isolement est réparé, un nœud ALONE est obligé de s'arrêter et de resynchroniser ses données depuis l'autre nœud,
  * à la fin, le cluster est PRIM-SECOND (ou SECOND-PRIM selon la détection d'adresse IP virtuelle en double faite par Windows).


### Deux réseaux avec un réseau de réplication dédié

Lorsqu'il y a un isolement réseau, le comportement avec un réseau de réplication dédié est :

  * un réseau de réplication dédié est implémenté sur un réseau privé,
  * les heartbeats sur le réseau de production sont perdus (réseau isolé),
  * les heartbeats sur le réseau de réplication fonctionnent (réseau non isolé),
  * le cluster reste à l'état PRIM/SECOND.


### Un seul réseau et un checker split-brain

Lorsqu'il y a un isolement du réseau, le comportement avec un split-brain checker est :

  * un split-brain checker a été configuré avec l'adresse IP d'un témoin (typiquement un routeur),
  * le split-brain agit lorsqu'un serveur passe de PRIM à ALONE ou de SECOND à ALONE,
  * en cas d'isolement du réseau, avant de passer en ALONE, les deux nœuds testent l'adresse IP,
  * le nœud qui peut accéder à l'adresse IP passe à ALONE, l'autre passe à WAIT,
  * lorsque l'isolement est réparé, le nœud WAIT resynchronise ses données et devient SECOND.


Remarque : Si le témoin est en panne ou déconnecté, les deux nœuds passent à WAIT et l'application n'est plus en cours d'exécution. C'est pourquoi vous devez choisir un témoin robuste comme un routeur.


