{{/* Shortcode: insert-safekit-4-buttons-de — 2 instances in 1 files */}}
<div class="button-row">
  <a class="btn-action" href="https://safekit.eviden.com/contact-us-for-safekit/">🧑 Kontaktieren</a>
  <a class="btn-action" href="/resources/safekit-free-trial/">🎁 Kostenlose Testversion</a>
  <a class="btn-action" href="https://training.my.evidian.com/mod/page/view.php?id=712">🏅 Kostenlose Zertifizierung</a>
  <a class="btn-action" href="https://safekit.eviden.com/get-a-quote-safekit/">💰 Kosten für Dauerlizenzen</a>
</div>
