{{/* Shortcode: insert-safekit-videos-ar — 1 instances in 1 files */}}
 

## الدروس التعليمية والعروض التقنية لتجاوز الفشل في SafeKit {#safekit-failover-tutorials}

### SafeKit: كيفية تنفيذ حلول التوفر العالي والتعافي من الكوارث (HADR) (6:42) {#safekit-hadr}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### الفصول

  1. [مقدمة عن SafeKit HADR عبر شبكات VLAN الممتدة](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=0s) (1:06)
  2. [آلية عمل المرآة المتزامنة والتأكيد المزدوج (1:41)](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=65s)
  3. [آليات تجاوز الفشل: بروتوكول ARP المجاني (GARP) وعنوان IP الافتراضي](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=166s) (2:10)
  4. [التصميم لشبكات WAN البطيئة: استراتيجيات الجاهزية العالية مقابل النسخ الاحتياطي](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=296s) (2:45)

[تعرف على المزيد حول SafeKit HADR](/best-practises/high-availability-disaster-recovery-hadr/)

### فيديو SafeKit: ندوة عبر الإنترنت (9:43) {#demo-webinar}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### الفصول

  1. [مقدمة](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=0s) (0:38)
  2. [عرض توضيحي لبرنامج SafeKit](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=38s) (1:41)
  3. [أمثلة على حلول التكرار المكرر والجاهزية العالية](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=139s) (2:00)
  4. [بيع SafeKit في دول مختلفة مع Milestone](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=259s) (0:49)
  5. [الاختيار بين حلين: جهاز افتراضي أو مجموعة تطبيقات](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=308s) (2:29)
  6. [مزايا فريدة استثنائية](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=457s) (2:06)

[جميع مقاطع الفيديو هنا](/resources/safekit-on-line-training/)

### فيديو SafeKit: التجميع على مستوى التطبيق باستخدام SQL (8:47) {#demo-sql}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### الفصول

  1. [عقدتان مع SQL Server](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=0s) (0:32)
  2. [تهيئة المجموعة ووحدة mirror.safe](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=32s) (3:58)
  3. [بدء واختبار تكرار SQL، الترحيل، وتجاوز الفشل عند الانهيار](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=270s) (4:17)

[تجربة مجانية هنا](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-real-time-replication-and-failover/)

### فيديو SafeKit: التجميع على مستوى الجهاز الافتراضي (5:15) {#demo-hyperv}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### الفصول

  1. [عقدتا Hyper-V وجهازان افتراضيان](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=0s) (0:49)
  2. [تهيئة المجموعة ووحدتي hyperv.safe](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=49s) (1:59)
  3. [بدء واختبار تكرار الأجهزة الافتراضية، الترحيل، وتجاوز الفشل عند الانهيار](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=168s) (2:26)

[تجربة مجانية هنا](/quick-install/safekit-quick-installation-guide-with-hyper-v/)

### فيديو SafeKit: تجميع موازنة تحميل الشبكة (5:03) {#demo-farm}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### الفصول

  1. [عقدتان مع خادم Apache](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=0s) (0:13)
  2. [تهيئة المجموعة ووحدة farm.safe](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=13s) (2:20)
  3. [بدء واختبار موازنة حمل الشبكة، وتجاوز الفشل عند الانهيار](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=153s) (2:30)

[تجربة مجانية هنا](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-network-load-balancing-and-failover/)

### فيديو SafeKit: دمج توافر الخدمة العالي للمصنّع الأصلي للمعدات (OEM) (4:22) {#demo-milestone}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### الفصول

  1. [برنامج SafeKit لتكامل مصنعي المعدات الأصلية (OEM)](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=0s) (0:09)
  2. [مثال على إعداد OEM: برنامج Milestone XProtect](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=9s) (2:18)
  3. [شرح سيناريوهات تجاوز الفشل](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=138s) (1:49)
  4. [خاتمة: أضف الجاهزية العالية لـ OEM إلى كتالوج خدماتك](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=247s) (0:15)

[تجربة مجانية هنا](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-real-time-replication-and-failover/)

### فيديو SafeKit: المنافسة وبنى مجموعات الخوادم (Clusters) (13:21) {#safekit-competition}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### الفصول

  1. [مقدمة](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=0s) (4:10)
  2. [مجموعة الأجهزة الافتراضية](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=250s) (1:20)
  3. [مجموعة المرآة (Mirror Cluster)](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=330s) (6:04)
  4. [مجموعة المزرعة (Farm Cluster)](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=694s) (1:46)

[شاهد مقارنة بين SafeKit ومجموعات التوفر العالي (HA Cluster) التقليدية](/#safekit-ha-comparison "مقارنة تفصيلية بين برنامج SafeKit ومجموعات التوفر العالي التقليدية القائمة على الأجهزة")

### فيديو SafeKit: برنامج تعليمي لمنصة الشهادات المجانية (6:11) {#demo-certification}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### الفصول

  1. [منصة التدريب والشهادات](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=0s) (1:41)
  2. [ما هي وحدة التدريب الخاصة بـ SafeKit؟](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=101s) (1:57)
  3. [كيف تحصل على شهادة SafeKit؟](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=218s) (1:40)
  4. [شارك شهادتك على LinkedIn](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=318s) (0:53)

[منصة التدريب والشهادات هنا](https://training.my.evidian.com/)

### فيديو SafeKit: إشعارات البريد الإلكتروني عند تجاوز الفشل (1:04) {#demo-notifications}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

### فيديو SafeKit: وحدة التحكم على الهاتف الذكي (0:54) {#demo-console}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 


