{{/* Shortcode: insert-safekit-siemens-license-en — 6 instances in 6 files */}}
{{/* Parameters: app */}}
 

### About products under Siemens LMS licensing

  * To avoid the broken Siemens license on failover, the dongle containing the Siemens key can be put in a USB over IP device (like DIGI AnywhereUSB).
  * The dongle can also be put in an external PC with the [LMS license server](https://sid.siemens.com/r/A6V10426066/16779394955__2.6_en-US_16791369099) on the PC.
  * In recent versions of the Siemens licensing system, the license key can be put in the Trusted Platform Module of the VM.



