{{/* Shortcode: insert-safekit-4-buttons-it — 2 instances in 1 files */}}
<div class="button-row">
  <a class="btn-action" href="https://safekit.eviden.com/contact-us-for-safekit/">🧑 Contattaci</a>
  <a class="btn-action" href="/resources/safekit-free-trial/">🎁 Prova gratuita di SafeKit</a>
  <a class="btn-action" href="https://training.my.evidian.com/mod/page/view.php?id=712">🏅 Certificazione gratuita</a>
  <a class="btn-action" href="https://safekit.eviden.com/get-a-quote-safekit/">💰 Costo della licenza perpetua</a>
</div>
