{{/* Shortcode: insert-safekit-videos-it — 1 instances in 1 files */}}
 

## Tutorial tecnici e demo sul failover di SafeKit {#safekit-failover-tutorials}

###  Video SafeKit: Webinar (9:43) {#demo-webinar}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Capitoli

  1. [Introduzione](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=0s) (0:38)
  2. [Dimostrazione di SafeKit](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=38s) (1:41)
  3. [Esempi di ridondanza e soluzioni ad alta affidabilità](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=139s) (2:00)
  4. [SafeKit venduto in molti paesi diversi con Milestone](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=259s) (0:49)
  5. [Scegliere tra 2 soluzioni: macchina virtuale o cluster di applicazioni](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=308s) (2:29)
  6. [Vantaggi distintivi](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=457s) (2:06)

[Tutti i video qui](/resources/safekit-on-line-training/)  


### SafeKit: Come implementare l'HADR (6:42) {#safekit-hadr}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Capitoli

  1. [Introduzione a SafeKit HADR su VLAN estese](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=0s) (1:06)
  2. [Come funzionano il mirroring sincrono e il doppio riconoscimento (1:41)](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=65s)
  3. [Meccanismi di failover: Gratuitous ARP (GARP) e IP virtuale](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=166s) (2:10)
  4. [Progettare per WAN lente: alta affidabilità vs. strategie di backup](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=296s) (2:45)

[Scopri di più su SafeKit HADR](/best-practises/high-availability-disaster-recovery-hadr/)

### SafeKit Video: Clustering a Livello di Macchina Virtuale (5:15) {#demo-hyperv}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Capitoli

  1. [2 nodi Hyper-V e 2 macchine virtuali](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=0s) (0:49)
  2. [Configurare il cluster e due moduli hyperv.safe](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=49s) (1:59)
  3. [Avviare e testare la replica delle VM, la migrazione e il failover in caso di crash](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=168s) (2:26)

[Prova gratuita qui](/quick-install/safekit-quick-installation-guide-with-hyper-v/)

### SafeKit Video: Clustering a Livello di Applicazione con SQL (8:47) {#demo-sql}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Capitoli

  1. [2 nodi con SQL Server](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=0s) (0:32)
  2. [Configurare il cluster e il modulo mirror.safe](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=32s) (3:58)
  3. [Avviare e testare la replica SQL, la migrazione e il failover in caso di crash](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=270s) (4:17)

[Prova gratuita qui](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-real-time-replication-and-failover/)

### SafeKit Video: Integrazione OEM per Alta Disponibilità (4:22) {#demo-milestone}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Capitoli

  1. [SafeKit per integrazione OEM](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=0s) (0:09)
  2. [Esempio di configurazione OEM: Milestone XProtect](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=9s) (2:18)
  3. [Spiegazione degli scenari di failover](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=138s) (1:49)
  4. [Conclusioni: aggiungi l'alta affidabilità OEM al tuo catalogo](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=247s) (0:15)

[Prova gratuita qui](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-real-time-replication-and-failover/)

### SafeKit Video: Clustering con Bilanciamento del Carico di Rete (5:03) {#demo-farm}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Capitoli

  1. [2 nodi con Apache](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=0s) (0:13)
  2. [Configurare il cluster e il modulo farm.safe](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=13s) (2:20)
  3. [Avviare e testare il bilanciamento del carico di rete e il failover in caso di crash](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=153s) (2:30)

[Prova gratuita qui](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-network-load-balancing-and-failover/)

### SafeKit Video: Tutorial Piattaforma di Certificazione Gratuita (6:11) {#demo-certification}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Capitoli

  1. [La piattaforma di formazione e certificazione](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=0s) (1:41)
  2. [Cos'è un modulo di formazione SafeKit?](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=101s) (1:57)
  3. [Come ottenere un certificato SafeKit?](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=218s) (1:40)
  4. [Condividi il tuo certificato su LinkedIn](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=318s) (0:53)

[Piattaforma di formazione e certificazione qui](https://training.my.evidian.com/)

### Video SafeKit: Analisi comparativa e architetture cluster (13:21) {#safekit-competition}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Capitoli

  1. [Introduzione](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=0s) (4:10)
  2. [Cluster di macchine virtuali](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=250s) (1:20)
  3. [Cluster mirror](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=330s) (6:04)
  4. [Cluster farm](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=694s) (1:46)

[Vedi il confronto tra SafeKit e i cluster HA tradizionali](/#safekit-ha-comparison "Confronto dettagliato tra il software SafeKit e i tradizionali cluster HA basati su hardware")

### SafeKit Video: Console su Smartphone (0:54) {#demo-console}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

### SafeKit Video: Notifiche Email in caso di Failover (1:04) {#demo-notifications}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 


