{{/* Shortcode: insert-safekit-farm-video-fr — 1 instances in 1 files */}}
 

### Vidéo SafeKit : Répartition de charge réseau et gestion d'adresse IP virtuelle (5:03) {#demo-farm}

Dans cette vidéo, apprenez comment implémenter une **adresse IP virtuelle** pour fournir un point d'entrée unique à un cluster de 2 nœuds. SafeKit simplifie la **répartition de charge réseau** en gérant automatiquement l'IP virtuelle, garantissant que le trafic client est distribué entre les nœuds et redirigé instantanément lors d'un basculement. Bien que cette démonstration utilise Apache sous Windows, la solution fonctionne de manière identique avec d'autres applications.

### Chapitres

  1. [Architecture : Préparer 2 nœuds pour une IP virtuelle partagée](https://www.youtube.com/watch?v=1Ww2-cXHNx4&amp;t=0s) (0:13)
  2. [Configuration : Mise en place du module farm.safe et de l'adresse IP virtuelle](https://www.youtube.com/watch?v=1Ww2-cXHNx4&amp;t=13s) (2:20)
  3. [Validation : Test de basculement et redirection de l'IP virtuelle lors d'une panne serveur](https://www.youtube.com/watch?v=1Ww2-cXHNx4&amp;t=153s) (2:30)


### Mise en œuvre étape par étape

  * [Lire le guide de configuration d'un cluster ferme sous Windows](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-network-load-balancing-and-failover/)
  * [Lire le guide de configuration d'un cluster ferme sous Linux](/quick-install/safekit-quick-installation-guide-for-a-new-linux-application-with-network-load-balancing-and-failover/)


&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 


