{{/* Shortcode: insert-safekit-videos-fr — 2 instances in 2 files */}}
 

## Tutoriels techniques et démos sur le basculement SafeKit {#safekit-failover-tutorials}

###  Vidéo SafeKit : Webinaire (9:43) {#demo-webinar}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Chapitres

  1. [Introduction](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=0s) (0:38)
  2. [Démonstration de SafeKit](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=38s) (1:41)
  3. [Exemples de redondance et de solution de haute disponibilité](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=139s) (2:00)
  4. [SafeKit vendu dans de nombreux pays avec Milestone](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=259s) (0:49)
  5. [Choisir entre 2 solutions : machine virtuelle ou cluster applicatif](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=308s) (2:29)
  6. [Avantages distinctifs](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=457s) (2:06)

[Toutes les vidéos ici](/resources/safekit-on-line-training/)  


### SafeKit : Comment mettre en œuvre la HADR (6:42) {#safekit-hadr}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Chapitres

  1. [Introduction à SafeKit HADR sur VLAN étendus](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=0s) (1:06)
  2. [Fonctionnement de la réplication synchrone et du double acquittement](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=65s) (1:41)
  3. [Mécanismes de basculement : ARP gratuit (GARP) et IP virtuelle](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=166s) (2:10)
  4. [Conception pour WAN lent : stratégies de haute disponibilité vs sauvegarde](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=296s) (2:45)

[En savoir plus sur SafeKit HADR](/best-practises/high-availability-disaster-recovery-hadr/)

### Vidéo SafeKit : Clustering au Niveau Machine Virtuelle (5:15) {#demo-hyperv}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Chapitres

  1. [2 nœuds Hyper-V et 2 machines virtuelles](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=0s) (0:49)
  2. [Configuration du cluster et de deux modules hyperv.safe](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=49s) (1:59)
  3. [Démarrage et test de la réplication de VM, migration et basculement sur panne](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=168s) (2:26)

[Essai gratuit ici](/quick-install/safekit-quick-installation-guide-with-hyper-v/)

### Vidéo SafeKit : Clustering au Niveau Application avec SQL (8:47) {#demo-sql}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Chapitres

  1. [2 nœuds avec SQL Server](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=0s) (0:32)
  2. [Configuration du cluster et du module mirror.safe](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=32s) (3:58)
  3. [Démarrage et test de la réplication SQL, migration et basculement sur panne](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=270s) (4:17)

[Essai gratuit ici](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-real-time-replication-and-failover/)

### Vidéo SafeKit : Intégration OEM Haute Disponibilité (4:22) {#demo-milestone}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Chapitres

  1. [SafeKit pour l'intégration OEM](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=0s) (0:09)
  2. [Exemple de configuration OEM : Milestone XProtect](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=9s) (2:18)
  3. [Explication des scénarios de basculement](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=138s) (1:49)
  4. [Conclusion : Ajoutez la haute disponibilité OEM à votre catalogue](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=247s) (0:15)

[Essai gratuit ici](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-real-time-replication-and-failover/)

### Vidéo SafeKit : Clustering Répartition de Charge Réseau (5:03) {#demo-farm}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Chapitres

  1. [2 nœuds avec Apache](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=0s) (0:13)
  2. [Configuration du cluster et du module farm.safe](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=13s) (2:20)
  3. [Démarrage et test de la répartition de charge réseau et du basculement sur panne](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=153s) (2:30)

[Essai gratuit ici](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-network-load-balancing-and-failover/)

### Vidéo SafeKit : Tutoriel Plateforme de Certification Gratuite (6:11) {#demo-certification}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Chapitres

  1. [La plateforme de formation et de certification](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=0s) (1:41)
  2. [Qu'est-ce qu'un module de formation SafeKit ?](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=101s) (1:57)
  3. [Comment obtenir une certification SafeKit ?](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=218s) (1:40)
  4. [Partager votre certification sur LinkedIn](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=318s) (0:53)

[Plateforme de formation et de certification ici](https://training.my.evidian.com/)

### Vidéo SafeKit : Concurrence et architectures de clusters (13:21) {#safekit-competition}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Chapitres

  1. [Introduction](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=0s) (4:10)
  2. [Cluster de machines virtuelles](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=250s) (1:20)
  3. [Cluster miroir (Mirror)](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=330s) (6:04)
  4. [Cluster ferme (Farm)](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=694s) (1:46)

[Voir la comparaison SafeKit vs Cluster HA traditionnel](/#safekit-ha-comparison "Comparaison détaillée du logiciel SafeKit par rapport aux clusters HA matériels traditionnels")

### Vidéo SafeKit : Console sur Smartphone (0:54) {#demo-console}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

### Vidéo SafeKit : Notifications par E-mail sur Bascule (1:04) {#demo-notifications}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 


