{{/* Shortcode: insert-safekit-4-buttons-nl — 2 instances in 1 files */}}
<div class="button-row">
  <a class="btn-action" href="https://safekit.eviden.com/contact-us-for-safekit/">🧑 Neem contact met ons op</a>
  <a class="btn-action" href="/resources/safekit-free-trial/">🎁 SafeKit gratis proefversie</a>
  <a class="btn-action" href="https://training.my.evidian.com/mod/page/view.php?id=712">🏅 Gratis certificering</a>
  <a class="btn-action" href="https://safekit.eviden.com/get-a-quote-safekit/">💰 Kosten voor een permanente licentie</a>
</div>
