{{/* Shortcode: insert-safekit-videos-de — 1 instances in 1 files */}}
 

## SafeKit Technische Failover-Tutorials &amp; Demos {#safekit-failover-tutorials}

### SafeKit Video: Webinar (9:43) {#demo-webinar}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Kapitel

  1. [Einführung](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=0s) (0:38)
  2. [Demonstration von SafeKit](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=38s) (1:41)
  3. [Beispiele für Redundanz und Hochverfügbarkeitslösungen](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=139s) (2:00)
  4. [SafeKit-Vertrieb in vielen verschiedenen Ländern mit Milestone](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=259s) (0:49)
  5. [Wahl zwischen zwei Lösungen: Virtuelle Maschine oder Applikations-Cluster](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=308s) (2:29)
  6. [Besondere Vorteile](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=457s) (2:06)

[Alle Videos hier](/resources/safekit-on-line-training/)

### SafeKit: Implementierung von HADR (6:42) {#safekit-hadr}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Kapitel

  1. [Einführung in SafeKit HADR über Stretched VLANs](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=0s) (1:06)
  2. [Wie synchrone Spiegelung &amp; doppelte Bestätigung funktionieren (1:41)](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=65s)
  3. [Failover-Mechanismen: Gratuitous ARP (GARP) &amp; virtuelle IP](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=166s) (2:10)
  4. [Konzeption für langsame WANs: Hochverfügbarkeit vs. Backup-Strategien](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=296s) (2:45)

[Erfahren Sie mehr über SafeKit HADR](/best-practises/high-availability-disaster-recovery-hadr/)

### SafeKit Video: Clustering auf Virtual Machine-Ebene (5:15) {#demo-hyperv}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Kapitel

  1. [2 Hyper-V-Knoten und 2 virtuelle Maschinen](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=0s) (0:49)
  2. [Konfiguration des Clusters und der zwei hyperv.safe-Module](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=49s) (1:59)
  3. [Starten und Testen von VM-Replikation, Migration und Failover bei Absturz](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=168s) (2:26)

[Kostenlose Testversion hier](/quick-install/safekit-quick-installation-guide-with-hyper-v/)

### SafeKit Video: Clustering auf Anwendungsebene mit SQL (8:47) {#demo-sql}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Kapitel

  1. [2 Knoten mit SQL Server](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=0s) (0:32)
  2. [Konfiguration des Clusters und des mirror.safe-Moduls](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=32s) (3:58)
  3. [Starten und Testen von SQL-Replikation, Migration und Failover bei Absturz](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=270s) (4:17)

[Kostenlose Testversion hier](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-real-time-replication-and-failover/)

### SafeKit Video: OEM High Availability-Integration (4:22) {#demo-milestone}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Kapitel

  1. [SafeKit für OEM-Integration](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=0s) (0:09)
  2. [Beispiel für OEM-Einrichtung: Milestone XProtect](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=9s) (2:18)
  3. [Erklärung von Failover-Szenarien](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=138s) (1:49)
  4. [Fazit: Erweitern Sie Ihren Katalog um OEM-Hochverfügbarkeit](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=247s) (0:15)

[Kostenlose Testversion hier](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-real-time-replication-and-failover/)

### SafeKit Video: Network Load Balancing Clustering (5:03) {#demo-farm}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Kapitel

  1. [2 Knoten mit Apache](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=0s) (0:13)
  2. [Konfiguration des Clusters und des farm.safe-Moduls](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=13s) (2:20)
  3. [Starten und Testen von Netzwerklastverteilung und Failover bei Absturz](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=153s) (2:30)

[Kostenlose Testversion hier](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-network-load-balancing-and-failover/)

### SafeKit Video: Tutorial zur kostenlosen Zertifizierungsplattform (6:11) {#demo-certification}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Kapitel

  1. [Die Trainings- und Zertifizierungsplattform](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=0s) (1:41)
  2. [Was ist ein SafeKit-Trainingsmodul?](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=101s) (1:57)
  3. [Wie erhält man ein SafeKit-Zertifikat?](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=218s) (1:40)
  4. [Teilen Sie Ihr Zertifikat auf LinkedIn](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=318s) (0:53)

[Trainings- und Zertifizierungsplattform hier](https://training.my.evidian.com/)

### SafeKit Video: Wettbewerbsvergleich und Cluster-Architekturen (13:21) {#safekit-competition}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### Kapitel

  1. [Einführung](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=0s) (4:10)
  2. [Virtueller Maschinen-Cluster](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=250s) (1:20)
  3. [Spiegel-Cluster (Mirror Cluster)](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=330s) (6:04)
  4. [Farm-Cluster (Farm Cluster)](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=694s) (1:46)

[SafeKit im Vergleich zu traditionellen HA-Clustern ansehen](/#safekit-ha-comparison "Detaillierter Vergleich zwischen SafeKit-Software und herkömmlichen hardwarebasierten HA-Clustern")

### SafeKit Video: Konsole auf dem Smartphone (0:54) {#demo-console}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

### SafeKit Video: E-Mail-Benachrichtigungen bei Failover (1:04) {#demo-notifications}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 


