{{/* Shortcode: insert-safekit-usage-zh-hans — 1 instance in 1 file */}}
{{/* Parameters: none */}}
{{/* Source: content\zh-hans\_index.md */}}

 

## SafeKit 高可用性限制 {#safekit-ha-limitations}

限制 / 要求 | 原因与影响 | 推荐替代方案  
---|---|---  
复制容量：数 TB |  故障后的重新同步时间（[步骤 3](/architectures/file-replication-byte-level-with-failover-mirror-cluster/#safekit-mirror-cluster)）： <br>• 1 Gb/s 网络 ≈ 3 小时 / TB<br>• 10 Gb/s 网络 ≈ 1 小时 / TB（取决于磁盘写入性能）  |  • 使用 [外部共享存储](/best-practises/san-vs-nas-shared-storage-for-a-failover-cluster/)（成本更高，复杂度更高）。   
文件数量：< 1,000,000 个文件 |  • 故障后重新同步时间的性能（[步骤 3](/architectures/file-replication-byte-level-with-failover-mirror-cluster/#safekit-mirror-cluster)）。<br>• 在两个节点之间检查每个文件所需的时间。  |  • 将需要复制的大量文件放入虚拟硬盘 / 虚拟机中。<br>• 在这种情况下，仅代表虚拟硬盘 / 虚拟机的文件会被复制和重新同步。   
故障切换容量：≤ 32 台虚拟机 |  • 每台虚拟机在独立的镜像模块中运行。<br>• 同一集群上最多运行 32 个镜像模块。  |  • 使用外部共享存储和另一种虚拟机集群解决方案（成本更高，复杂度更高）。   
网络架构：远程站点之间的 LAN/VLAN 网络 |  • 同一子网内的 2 个节点自动切换 [虚拟 IP 地址](/best-practises/how-a-virtual-ip-address-works/)。<br>• 用于重新同步（[步骤 3](/architectures/file-replication-byte-level-with-failover-mirror-cluster/#safekit-mirror-cluster)）的良好带宽，以及用于 [同步复制](/best-practises/synchronous-replication-vs-asynchronous-replication/)的良好延迟（通常往返时间小于 2ms）。  |  • 如果 2 个节点位于 2 个子网中，请使用 [虚拟 IP 地址负载均衡器](/best-practises/how-a-virtual-ip-address-works/)（SafeKit 支持此功能，尤其是在云端）。<br>• 对于高延迟网络，使用带有异步复制的备份解决方案。   
  
