{{/* Shortcode: insert-safekit-videos-ja — 1 instances in 1 files */}}
 

## SafeKit テクニカル・フェイルオーバー チュートリアル ＆ デモ {#safekit-failover-tutorials}

### SafeKit 動画：ウェビナー (9:43) {#demo-webinar}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### チャプター

  1. [イントロダクション](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=0s) (0:38)
  2. [SafeKit のデモンストレーション](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=38s) (1:41)
  3. [冗長性と高可用性（HA）ソリューションの例](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=139s) (2:00)
  4. [Milestone と連携し世界各国で販売される SafeKit](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=259s) (0:49)
  5. [2つのソリューションの選択：仮想マシンかアプリケーションクラスタか](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=308s) (2:29)
  6. [際立つ独自のメリット](https://www.youtube.com/watch?v=UiLwzqsMxis&amp;t=457s) (2:06)

[すべての動画はこちら](/resources/safekit-on-line-training/)

### SafeKit：HADRの導入方法 (6:42) {#safekit-hadr}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### チャプター

  1. [ストレッチ VLAN 構成における SafeKit HADR のご紹介](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=0s) (1:06)
  2. [同期ミラーリングとダブル確認（Double-Acknowledgment）の仕組み (1:41)](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=65s)
  3. [フェイルオーバーの仕組み：Gratuitous ARP (GARP) と仮想 IP](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=166s) (2:10)
  4. [低速な WAN 環境向けの設計：高可用性（HA）vs. バックアップ戦略](https://www.youtube.com/watch?v=g5zcTjiY7T4&amp;t=296s) (2:45)

[SafeKit HADRについて詳しくはこちら](/best-practises/high-availability-disaster-recovery-hadr/)

### SafeKit 動画: 仮想マシンレベルのクラスタリング (5:15) {#demo-hyperv}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### チャプター

  1. [2つの Hyper-V ノードと 2台の仮想マシン](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=0s) (0:49)
  2. [クラスタと 2つの hyperv.safe モジュールの設定](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=49s) (1:59)
  3. [VM のレプリケーション、移行、クラッシュ時のフェイルオーバー起動とテスト](https://www.youtube.com/watch?v=foo6YKg5Dmw&amp;t=168s) (2:26)

[無料トライアルはこちら](/quick-install/safekit-quick-installation-guide-with-hyper-v/)

### SafeKit 動画: SQLによるアプリケーションレベルのクラスタリング (8:47) {#demo-sql}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### チャプター

  1. [SQL Server を搭載した 2つのノード](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=0s) (0:32)
  2. [クラスタと mirror.safe モジュールの設定](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=32s) (3:58)
  3. [SQL のレプリケーション、移行、クラッシュ時のフェイルオーバー起動とテスト](https://www.youtube.com/watch?v=T_6PsS4f9OQ&amp;t=270s) (4:17)

[無料トライアルはこちら](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-real-time-replication-and-failover/)

### SafeKit 動画: OEM高可用性統合 (4:22) {#demo-milestone}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### チャプター

  1. [OEM 統合向け SafeKit](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=0s) (0:09)
  2. [OEM 設定例：Milestone XProtect](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=9s) (2:18)
  3. [フェイルオーバーのシナリオ解説](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=138s) (1:49)
  4. [まとめ：OEM 向け高可用性（HA）を製品ラインナップに追加する](https://www.youtube.com/watch?v=dxiPG5ILC-0&amp;t=247s) (0:15)

[無料トライアルはこちら](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-real-time-replication-and-failover/)

### SafeKit 動画: ネットワーク負荷分散クラスタリング (5:03) {#demo-farm}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### チャプター

  1. [Apache を搭載した 2つのノード](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=0s) (0:13)
  2. [クラスタと farm.safe モジュールの設定](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=13s) (2:20)
  3. [ネットワーク負荷分散（ロードバランシング）、クラッシュ時のフェイルオーバー起動とテスト](https://www.youtube.com/watch?v=XSMV_eM-jgk&amp;t=153s) (2:30)

[無料トライアルはこちら](/quick-install/safekit-quick-installation-guide-for-a-new-windows-application-with-network-load-balancing-and-failover/)

### SafeKit 動画: 無料認定プラットフォームチュートリアル (6:11) {#demo-certification}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### チャプター

  1. [トレーニング &amp; 資格認定プラットフォーム](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=0s) (1:41)
  2. [SafeKit トレーニングモジュールとは？](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=101s) (1:57)
  3. [SafeKit 認定資格を取得する方法](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=218s) (1:40)
  4. [取得した認定資格を LinkedIn で共有する](https://www.youtube.com/watch?v=ijH4zXtn_3s&amp;t=318s) (0:53)

[トレーニングおよび認定プラットフォームはこちら](https://training.my.evidian.com/)

### SafeKit ビデオ：競合比較とクラスターアーキテクチャ (13:21) {#safekit-competition}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

#### チャプター

  1. [イントロダクション](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=0s) (4:10)
  2. [仮想マシンクラスタ](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=250s) (1:20)
  3. [ミラークラスタ](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=330s) (6:04)
  4. [ファームクラスタ](https://www.youtube.com/watch?v=DKra6YVLGZk&amp;t=694s) (1:46)

[SafeKit と従来の HA クラスターの比較を見る](/#safekit-ha-comparison "SafeKit ソフトウェアと従来のハードウェアベース HA クラスターの詳細な比較")

### SafeKit 動画: スマートフォンでのコンソール (0:54) {#demo-console}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 

### SafeKit 動画: フェイルオーバー時のメール通知 (1:04) {#demo-notifications}

&amp;amp;amp;amp;amp;amp;lt;br /&amp;amp;amp;amp;amp;amp;gt; 


