{{/* Shortcode: insert-safekit-4-buttons-pt-br — 2 instances in 1 files */}}
<div class="button-row">
  <a class="btn-action" href="https://safekit.eviden.com/contact-us-for-safekit/">🧑 Contate-nos</a>
  <a class="btn-action" href="/resources/safekit-free-trial/">🎁 Teste gratuito do SafeKit</a>
  <a class="btn-action" href="https://training.my.evidian.com/mod/page/view.php?id=712">🏅 Certificação gratuita</a>
  <a class="btn-action" href="https://safekit.eviden.com/get-a-quote-safekit/">💰 Custo da licença perpétua</a>
</div>
