{{/* Shortcode: insert-safekit-4-buttons-ar — 2 instances in 1 files */}}
<div class="button-row">
  <a class="btn-action" href="https://safekit.eviden.com/get-a-quote-safekit/">تكلفة الترخيص الدائم 💰</a>
  <a class="btn-action" href="https://training.my.evidian.com/mod/page/view.php?id=712">شهادة مجانية 🏅</a>
  <a class="btn-action" href="/resources/safekit-free-trial/">تجربة مجانية لـ SafeKit 🎁</a>
  <a class="btn-action" href="https://safekit.eviden.com/contact-us-for-safekit/">اتصل بنا 🧑</a>
</div>
