{{/* Shortcode: insert-safekit-installation-package-linux-en — 20 instances in 20 files */}}
{{/* Parameters: app, mod */}}
 

### Package installation on Linux

  * Install the free version of SafeKit on 2 Linux nodes. Note: the free trial includes all SafeKit features. At the end of the trial, you can activate permanent license keys without uninstalling the package.
  * After the download of safekit_xx.bin package, execute it to extract the rpm and the safekitinstall script and then execute the **safekitinstall** script
  * Answer **yes** to firewall automatic configuration
  * Set the password for the web console and the default user **admin**. **Set the same password on all nodes.**


[ Download SafeKit (Linux) > ](/resources/safekit-free-trial/)


